{% extends "/template/main.twig" %}

{% block title %}{{ username }}{% endblock %}

{% block page %}
<div class="row m-0 w-100 h-100">
  <div class="col-md-4 h-100 mh-100 mb-3">
    <div class="bg-dark p-4 h-100 mh-100 d-flex flex-column align-items-center rounded">
      <div class="d-flex flex-row w-100 mb-4">
        <a href="./home" class="mx-auto overflow-hidden text-decoration-none text-light">
          <h1 class="mb-0">{{ username }}</h1>
        </a>
        <a class="btn btn-danger d-flex justify-content-center align-items-center ml-2" href="./logout">
          <img class="mini-icon" src="img/logout.svg" alt="LOGOUT">
        </a>
      </div>

      <div class="d-flex flex-row w-100 mb-2">
        <div class="d-flex flex-row mb-2 w-100 overflow-hidden">
          <input id="searchInput" class="form-control overflow-auto" type="search" placeholder="Search" aria-label="Search">
        </div>
        <button class="btn btn-success d-flex justify-content-center align-items-center mb-2 ml-2" data-toggle="modal" data-target="#modalCreate">
          <img class="mini-icon" src="img/create.svg" alt="CREATE">
        </button>
      </div>

      <div id="tasksList" class="list-group w-100 overflow-auto mb-2 list-color">
        {% for task in tasks %}
        <a href="./task-{{ task.id }}#task" class="list-group-item list-group-item-action list-color d-flex justify-content-between align-items-center">
          {{ task.title }}
          <span class="taskCreatedBy" hidden>{{ task.created_by }}</span>
          <span class="taskAssignedTo" hidden>{{ task.assigned_to }}</span>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCreateLabel">Create task</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/create" method="post" autocomplete="off">
            <div class="form-group">
              <label for="taskTitle">Title</label>
              <input name="taskTitle" type="text" class="form-control" id="taskTitle" placeholder="Go to the Gym" required autofocus>
            </div>
            <div class="form-group">
              <label for="taskDecription">Description</label>
              <textarea name="taskDescription" type="text" class="form-control" id="taskDecription" placeholder="Gotta work those legs for once" required></textarea>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="taskAssignTo">Assign to</label>
                <select name="taskAssignTo" id="taskAssignTo" class="form-control custom-select">
                  <option value="{{ userid }}" selected>{{ username }}</option>
                  {% for user in users %}
                  {% if username != user.username %}
                  <option value="{{ user.id }}">{{ user.username }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="taskDueDate">Due date</label>
                <input name="taskDueDate" type="date" class="form-control" id="taskDueDate" required>
              </div>
            </div>
            <button id="createButton" type="submit" class="btn btn-primary">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  {% block taskPage %}
  <div id="task" class="col-md-8 h-100 mh-100 mb-3 d-flex flex-column p-4">
    <h1 class="mb-4">Welcome!</h1>
    <p class="mb-4">Here's some information about this app!</p>
    <p class="d-flex flex-row">
      <button class="btn btn-danger d-flex justify-content-center align-items-center mx-2">
        <img class="mini-icon" src="img/logout.svg" alt="LOGOUT">
      </button>
      to logout.
    </p>
    <p class="d-flex flex-row">
      <button class="btn btn-success d-flex justify-content-center align-items-center mb-2 mx-2">
        <img class="mini-icon" src="img/create.svg" alt="CREATE">
      </button>
      to create a new task, by filling all necessary information.
    </p>
    <p class="d-flex flex-row">
      Filter your tasks by keyword with the following input field :
      <div class="d-flex flex-row mb-2 overflow-hidden"> 
        <input class="form-control overflow-auto" type="search" placeholder="Search">
      </div>
      <small>Use [c] in front of your keyword to filter by creator, and [a] to filter by assignee.</small>
    </p>
    <p>
      Click on a task to display more information :
      <a class="list-group-item list-group-item-action list-color d-flex justify-content-between align-items-center mt-2">
        Task
      </a>
    </p>
    <p>
      Add comments to tasks by filling the following form :
      <div class="card bg-dark border-light mh-100 d-inline-block">
        <div class="card-header">Add comment</div>
        <div class="card-body">
          <textarea type="text" class="form-control mb-2" id="taskComment" placeholder="This is a great idea!"></textarea>
          <button class="btn btn-primary">
            Add
          </button>
        </div>
      </div>
    </p>
  </div>
  {% endblock %}
</div>
{% endblock %}
