<div class="bg-dark p-4 mb-2 d-flex flex-column rounded">
  {% block taskDiv %}
  <h1>{{ taskInfo.title }}</h1>
  <div class="row">
    <div class="col">
      <p>Created by</p>
      <p class="bg-secondary rounded px-2 py-1">{{ taskInfo.created_by }}</p>
    </div>
    <div class="col">
      <p>Assigned to</p>
      <p class="bg-secondary rounded px-2 py-1">{{ taskInfo.assigned_to }}</p>
    </div>
  </div>
  <p>Description</p>
  <p class="bg-secondary rounded px-2 py-1">{{ taskInfo.description }}</p>
  <div class="row">
    <div class="col">
      <p>Created at</p>
      <p class="bg-secondary rounded px-2 py-1">{{ taskInfo.created_at }}</p>
    </div>
    <div class="col">
      <p>Due date</p>
      <p class="bg-secondary rounded px-2 py-1">{{ taskInfo.due_date }}</p>
    </div>
  </div>
  {% endblock %}
</div>

{% if comments %}
<div class="p-4 mb-2 d-flex flex-column">
  {% block commentDiv %}
  <h1 class="my-auto"></h1>
  {% endblock %}
</div>
{% endif %}
